@model EmployeeLeaveManagement.ViewModels.EmployeeViewModel

<h2> Employee Leave Management </h2>
<br />

<div class="login-box" style="width:600px">
    <h4>My Profile - @Model.FirstName @Model.LastName</h4>

    <img src="~/Images/user.png" width="100px" />
    <tr>
        <td> Employee ID : @Model.EmployeeID</td>
    </tr>
    <br />
    <tr>
        <td> First Name : @Model.FirstName</td>
    </tr>
    <br />
    <tr>
        <td> Last Name : @Model.LastName</td>
    </tr>
    <br />
    <tr>
        <td> Mobile : @Model.ContactNumber</td>
    </tr>
    <br />
    <tr>
        <td>  Designation : @Model.Designation</td>
    </tr>
    <br />
    <tr>
        <td>Email ID :  @Model.Email</td>

    </tr>
</div>


<script>
    $("a[href='/allquestions']").attr("id", "active");
</script>